<section class="section {{SECTION_TONE}} section--visit" id="visit">
  <div class="container grid grid--visit">
    <div class="visit__copy">
      <p class="eyebrow">Visit</p>
      <h2 class="h2">{{derived.place_line}}</h2>
      <p class="lead">{{location.address_street}} &mdash; {{derived.booking_line_period}}</p>
      <div class="visit__rows">
        <div class="visit__row">
          <p class="visit__row-label">Address</p>
          <p class="visit__row-value">{{location.address_street}}<br />{{derived.address_city_region_postal}}</p>
        </div>
        <div class="visit__row">
          <p class="visit__row-label">Hours</p>
          <p class="visit__row-value">{{#if derived.hours_uniform}}{{derived.hours_days_long}}<br />{{derived.hours_times_long}}{{else}}{{derived.hours_line}}{{/if}}</p>
        </div>
        {{#if derived.has_contact}}
        <div class="visit__row">
          <p class="visit__row-label">Contact</p>
          <p class="visit__row-value">
            {{#if ?booking.publish_phone}}<a href="tel:{{booking.phone}}">Call {{business.short_name}}</a>{{/if}}
            {{#if ?booking.publish_email}}<a href="mailto:{{booking.email}}">{{booking.email}}</a>{{/if}}
          </p>
        </div>
        {{/if}}
      </div>
      <div class="visit__cta">
        {{#if ?booking.url}}<a class="btn btn--accent btn--lg" href="{{booking.url}}">Book an appointment</a>{{/if}}
        <a class="btn btn--ghost btn--lg" href="{{derived.address_maps_url}}" rel="noopener" target="_blank">Get directions</a>
      </div>
    </div>
    <aside class="visit__aside">
      <h3 class="h3 visit__aside-title">Getting here</h3>
      <p class="visit__aside-body">We are in {{location.neighborhood}}, close to {{ANCHOR_1}} and {{ANCHOR_2}}. {{ANCHOR_3}} is the nearest landmark most people know.</p>
      <ul class="visit__anchors">
        {{#each NEARBY}}<li>{{this}}</li>{{/each}}
      </ul>
      {{#if derived.has_getting_here}}
      <dl class="visit__notes">
        {{#if ?location.transit_notes}}<dt>Transit</dt><dd>{{location.transit_notes}}</dd>{{/if}}
        {{#if ?location.parking_notes}}<dt>Parking</dt><dd>{{location.parking_notes}}</dd>{{/if}}
        {{#if ?location.accessibility_notes}}<dt>Access</dt><dd>{{location.accessibility_notes}}</dd>{{/if}}
      </dl>
      {{/if}}
    </aside>
  </div>
</section>
